{% extends "layout.html" %}

{% block body %}
    <div class="jumbotron text-center" >

        <h2>Breast Cancer Classification</h2>
        <p>
            <h3><a class="nav-link" href="https://www.kaggle.com/alpgrk/breast-cancer-log-regression-knn-pca-nca">Data Analysis in Kaggle</a></h3>
            <h3><a class="nav-link" href="https://github.com/cugoapo/Breast_Cancer-Classification">Github Repository</a></h3>
        </p>
        <br><br>
        <h3>Data Set Information</h3>
        <p>
            Also can be found on UCI Machine Learning
            Repository: <h5><a class="nav-link" href="https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29">https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29</a></h5>
        </p>


    </div>

{% endblock %}
